:root{
    --primary-color: #425b84;
    --secondary-color: #5b7bb4;
    --max-width: 1100px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);
    color: #fff;
    font-size: normal 1rem/1.5 'Arial', sans-serif;
    overflow-x: hidden;
    padding-bottom: 50px;
}

h1{
    font-size: 2.3rem;
}

#main-header{
    background-color: var(--secondary-color);
    padding: 4rem 0;
}

#main-header .container{
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: center;
}

#timeline ul{
    background-color: var(--primary-color);
    padding: 50px 0;
}

/* Create vertical line */
#timeline ul li{
    background: #fff;
    list-style: none;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    width: 6px;
}

/* Boxes - store content/information */
#timeline ul li div{
    background-color: var(--secondary-color);
    bottom: 0;
    /* opacity: 0; */
    padding: 1rem;
    position: relative;
    transition: all 0.5s ease-in-out;
    /* visibility: hidden; */
    width: 400px;
}

/* Alight to left
For every odd list element - move the div to the left
*/
#timeline ul li:nth-child(even) div{
    left: -434px;
    transform: translate(-200px, 0);

}

/* Alight to right
For every even list element - move the div to the right
*/
#timeline ul li:nth-child(odd) div{
    left: 40px;
    transform: translate(200px, 0);
}

/* Show box */
#timeline ul li.show div{
    opacity: 1;
    visibility: visible;
    transform: none;
}

/* Place right info point */
#timeline ul li:before{
    background-color: inherit;
    bottom: 0;
    border-radius: 50%;
    content: '';
    height: 25px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: background 0.5s ease-in-out;
    width: 25px;
}

/* Arrows - Base style */
#timeline div:before{
    bottom: 5px;
    border-style: solid;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

/* Right arrows */
#timeline ul li:nth-child(odd) div:before{
    border-color: transparent var(--secondary-color) transparent transparent;
    border-width: 8px 16px 8px 0;
    left: -15px;
}

/* Left arrows */
#timeline ul li:nth-child(even) div:before{
    border-color: transparent transparent transparent var(--secondary-color);
    border-width: 8px 0px 8px 16px;
    right: -15px;
}




/* Media queries */

@media(max-width: 900px){
    #timeline ul li div{
        width: 250px;
    }

    #timeline ul li:nth-child(even) div{
        left: -284px;
    }
}

/* Smart phones */
@media(max-width: 600px){
    #timeline ul li{
        margin-left: 20px;
    }

    /* Entire box - decrease width */
    #timeline ul li div{
        /* whole view port width(regardless of size) - 90px */
      width: calc(100vw - 90px);  
    }

    /* Entire box - move to the right */
    #timeline ul li:nth-child(even) div{
        left: 40px;
    }


    /* Right arrows on even boxes - point them to the left*/
#timeline ul li:nth-child(even) div:before{
    border-color: transparent var(--secondary-color) transparent transparent;
    border-width: 8px 16px 8px 0;
    left: -15px;
}

}



